@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa{
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before{
    top: 90%;
    left: -110%;
}

.social-btns .btn .fa{
    transform: scale(0.8);
}

.social-btns .btn.facebook:before{
    background-color: #3b5998;
}

.social-btns .btn.facebook .fa{
    color: #3b5998;
}

.social-btns .btn.twitter:before{
    background-color: #3cf;
}

.social-btns .btn.twitter .fa{
    color: #3cf;
}

.social-btns .btn.google:before{
    background-color: #dc4a38;
}

.social-btns .btn.google .fa{
    color: #dc4a38;
}

.social-btns .btn.dribbble:before{
    background-color: #f26798;
}

.social-btns .btn.dribbble .fa{
    color: #f26798;
}

.social-btns .btn.skype:before{
    background-color: #00aff0;
}

.social-btns .btn.skype .fa{
    color: #00aff0;
}

